{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"       content="width=device-width, initial-scale=1.0">
    <meta name="description"    content="EXPRESIO TO WRITE AND READ">
    <meta name="keywords"       content="BLOGS POSTS LIKES COMMENTS SHARES">
    <meta name="author"         content="DHEEERAJ REDDY">
    <meta name="google-site-verification" content="_l4tnHdvYjbaz8-6JU-EdmpZ9upActFWaLFtKcagPDM" />

    <!-- Site title -->
    <title>EXPRESIO</title>

  <link rel="shortcut icon" type="image/x-icon" href=" {% static 'assets/img/favicon.jpeg' %} ">



    <!-- Plugin Css -->
    <link href="{% static 'assets/css/plugin.css' %}" rel="stylesheet">

    <!-- Site css -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- Site css -->
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
    <style>
        .center {
          margin: auto;
          width: 60%;
          border: 3px solid #73AD21;
          padding: 10px;
        }
    </style>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Preloader starts-->
    <div id="preloader"></div>
    <!-- Preloader ends -->





    <!-- Navigation area starts -->
    <div class="menu-area navbar-fixed-top">
        <div class="container">
            <div class="row">

                <!-- Navigation starts -->
                <div class="col-md-12">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <a class="navbar-brand">
                                    <img src="{% static 'assets/img/favicon2.png' %}" alt="">
                                </a>
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            {% if request.user.is_authenticated %}
                            <div class="navbar-collapse collapse">
                                <nav>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="/createpost">CREATE POST</a></li>
                                        <li><a href="/myposts">MY BLOGS</a></li>
                                        <li><a href="/blogs">EXPLORE BLOGS</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFILE<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/profile">MY PROFILE</a></li>
                                                <li><a href="/password_change/"> CHANGE PASSWORD </a></li>
                                                <li><a href="/logout">LOGOUT</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact-us" class="nav-link" target="_blank">CONTACT</a></li>

                                    </ul>
                                </nav>
                            </div>
                            {%  else %}
                             <div class="navbar-collapse collapse">
                                <nav>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a  href="/blogs">EXPLORE BLOGS</a></li>
                                        <li><a  href="/login">LOGIN</a></li>
                                        <li><a class="smooth_scroll" href="#feature">FEATURES</a></li>
                                        <li><a class="smooth_scroll" href="#screenshot">OUR TEAM</a></li>
                                        <li><a class="smooth_scroll" href="#price">WE OFFER</a></li>
                                        <li><a href="/contact-us" class="nav-link" target="_blank">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Navigation ends -->

            </div>
        </div>
    </div>
    <!-- Navigation area ends -->



    <!-- Slider area starts -->
    <section id="slider" class="slider-area">
            <div class="container">
                <div class="row d-flex">
                    {% if request.user.is_authenticated %}
                    <!-- slider text -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="slider-text clearfix">
                            <h1>HELLO<br>{{user.first_name}}</h1>
                            <p>Expresio stories are the easiest way to express your ideas Start Typing Be a Reader Happy Reading </p>
                    {% else %}
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="slider-text clearfix">
                            <h1>One Simple Website</h1>
                            <p> One place to find the smartest writers and Soulful Ideas for Dreamers Instant setup With just a click Get Unlimited access to intelligent and Inspiring Stories Sign Up to Create New thoughts Confidently and Authentically in your own stories</p>
                    {% endif %}
                            <div class="btn-set">
                                {% if user.is_authenticated %}
                                <a href="/createpost" class="btn btn-black">
                                    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                    <div class="btn-text">
                                        <h3>Create Post</h3>
                                        <p>Inspire People</p>
                                    </div>
                                </a>
                                <a href="/blogs" class="btn btn-white">
                                    <i class="fa fa-heart"></i>
                                    <div class="btn-text">
                                        <h3>Explore Blogs</h3>
                                        <p></p>
                                    </div>
                                </a>
                                {% else %}
                                <a href="/login" class="btn btn-black">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    <div class="btn-text">
                                        <h3>SignUp/Login</h3>
                                        <p>To Create Posts</p>
                                    </div>
                                </a>
                                <a href="/blogs" class="btn btn-white">
                                    <i class="fa fa-heart"></i>
                                    <div class="btn-text">
                                        <h3>Explore Blogs</h3>
                                        <p></p>
                                    </div>
                                </a>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                    <!-- slider image -->
                    <div class="col-md-6 col-sm-12 col-xs-12 slider-img">
                        <img src=" {% static 'assets/img/slider/3.png' %} " alt="">
                    </div>


                </div>
            </div>
    </section>
    <!-- Slider area ends -->



    <!-- Hero boxes starts -->
    <section class="hero-box-area section-big">
        <div class="container">

            <div class="row">

                <!-- Hero box -->
                <div class="col-md-4 col-sm-6">
                    <div class="hero-box">
                        <span class="lnr lnr-lock"></span>
                        <h3>Instant Setup</h3>
                        <p>Stories from Young and Experienced Writers which will drive you to Pursue Your Dreams
                             Great support</p>
                    </div>
                </div>

                <!-- Hero box -->
                <div class="col-md-4 col-sm-6">
                    <div class="hero-box">
                        <span class="lnr lnr-flag"></span>
                        <h3>Fast Loading</h3>
                        <p> Special features of Expresio

                             is a Soulful Studio to Craft Visual stories that Honour not only what you do,but who you are
                             Through Thoughtful and Immersive Design,We celebrate your story and empower you with Tools you need to stand out and share it with the world</p>
                    </div>
                </div>

                <!-- Hero box -->
                <div class="col-md-4 col-sm-6">
                    <div class="hero-box">
                        <span class="lnr lnr-screen"></span>
                        <h3>Great Support</h3>
                        <p>Expresio Hold up & add strength to your writing literally just like “The columns support the roof”  We provide the full-service work that you need to get in and out of here Quickly and efficiently </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Hero boxes ends -->



    <!-- Feature area starts -->
    <section id="feature" class="feature-area grey section-big">
        <div class="container">

            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="feture-img">
                        <img src=" {% static 'assets/img/img1.png' %} " alt="">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="feature-content-one">
                        <h2>Core EXPRESIO Features</h2>
                        <p>Expresio core editor features helps you to build stories with an expanding set of design tools with multiple alignment options,Customisable padding in images and videos </p>
                        <p>Gradient support to features such as groups,columns,font styles,text lines,heigh adjustments and much more.. The options are nearly endless,but it may take experience to make the magic happen, but  expresio can help you do that with a ease  Introducing native support for directory integration,contextual focus highlights,milti-selected formatting,quality themes and better performance</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Feature area ends -->



    <!-- Feature area starts -->
    <section class="feature-area section-big">
        <div class="container">

            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="feature-content-two">
                        <h2>  Core EXPRESIO Features</h2>
                        <p> Expresio is designed for everyone foreground accessibility,performance security and ease of use We believe stories should be created with minimum set up,so you can focus on sharing. We believe stories should be created with minimum set up,so you can focus on sharing.Supporting ideas with little configuration and set up.Will get you up running and fully functionally contributing to your stories</p>
                        <p></p>

                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="feture-img">
                        <img src=" {% static 'assets/img/img2.png' %} " alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Feature area ends -->



    <!-- video area starts -->
    <div id="video" class="video-area section-big">
        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <div class="video-content">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=DgM5DfAPQTI&t=42s">
                            <span class="lnr lnr-camera-video video-area"></span>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="video-text">
                        <h2>EXPRESIO FEATURES</h2>
                        <p>Expresio is welcoming and inclusive that will drive your passion.Success of us which in turn will help you to reach your goals.We prioritise your needs and intensify non-technical minded capable themes</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- video area ends -->

    <!-- Price area starts -->
    <section id="price" class="pricing-area section-big">
        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>EXPRESIO ALL FEATURES</h2>
                        <p>Expresio is designed for everyone foreground accessibility,performance security and ease of use</p>

                    </div>
                </div>
            </div>

            <div class="row">


                <!-- Pricing Table -->

                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6">
                    <div class="price-item featured" data-connectors="1">
                        <div class="info">
                            <h3>WE OFFER</h3>
                        </div>
                          <div class="features">
                            <p>FOR ALL USERS</p>
                            <ul>
                                <li>EASY LOGIN AND SETUP </li>
                                <li>AMAZING BLOGS TO READ</li>
                                <li>DIFFERENT FONT STYLES</li>
                                <li>EASY LIKE AND COMMENT</li>
                                <li>EASY SHARE</li>
                            </ul>
                          </div>
                       <a class="btn" href="login">LOGIN</a>
                    </div>
                </div>

                <!-- Pricing Table -->


            </div>

        </div>
    </section>



    <!-- screenshot area starts -->

    <!-- screenshot area ends -->

    <!-- Testimonial area starts -->
    <section id="testimonial" class="testimonial-area grey section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="testimonial-text">
                        <h2>Users Feedback</h2>
                        <p>Here Is the Feedback Of Some Users</p>
                    </div>
                </div>


                <div class="col-md-7 col-sm-12">
                    <div class="testimonial-list">
                        {% for f in feed %}
                        <!-- Testimonial item -->
                        <div class="single-testimonial">

                            <h4>{{f.name}}</h4>
                            <div class="clearfix ratings">
                                {%if f.rating == 5 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                                {% endif %}
                                {%if f.rating == 4 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                {% endif %}
                                {%if f.rating == 3 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                                {% endif %}
                                {%if f.rating == 2 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>


                                {% endif %}
                                {%if f.rating == 1 %}
                                <i class="fa fa-star"></i>
                                {% endif %}

                            </div>
                            <p> {{f.feedback}} </p>

                        </div>
                        {% endfor %}

                        <!-- Testimonial item -->

                    </div>

                </div>
                <div>

                </div>
            </div>
            <div class="body" style="color: black;" >
                <form style="color: black;" method="POST" action="/feedback">
                    {% csrf_token %}
                    <div class="form-group"style="color: black;">
                      <input type="text"style="color: black;" name="name" class="form-control"  value="{{user.first_name}}" placeholder="NAME">
                      rate-us
                        <select class="form-control"style="color: black;" name="rate" id="sel1" required aria-placeholder="YOUR RATING">
                            <option>5</option>
                            <option>4</option>
                            <option>3</option>
                            <option>2</option>
                            <option>1</option>
                          </select>
                      <input type="text"style="color: black;" class="form-control" name="feedback"  placeholder="Your FeedBack">
                      <button style="color: black;" class="btn">SUBMIT FeedBack</button>
                    </div>
            </div>

        </div>
    </section>
    <!-- Testimonial area ends -->

    <!-- Price area ends -->


    <!-- Action starts -->

    <!-- Action area ends -->

    <!-- Blog News area start -->

    <!-- News area ends -->


    <!-- Subscribe area starts -->
    <section id="subscribe" class="subscribe-area section-big">
        <div class="container">
            <div class="subscribe-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="subscribe-text">
                            <h2>Subscribe Your Email </h2>
                            <p>WE CAN PROVIDE UPDATES TO YOUR MAIL</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form id="#" class="mc-form">
                            <div class="newsletter-form">

                                <input type="email" autocomplete="off" id="mc-email" placeholder="Enter email address" class="form-control" name="EMAIL">

                                <button class="btn mc-submit" type="submit">Subscribe</button>
                                <div class="clearfix"></div>

                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts">
                                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                </div>
                                <!-- mailchimp-alerts end -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe area ends -->

    <section id="screenshot" class="screenshot-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>OUR TEAM</h2>
                        <p> HERE IS OUR TEAM MEMBERS WHO ARE PART OF THE WEBSITE </p>
                        <ul>
                            <li>DHEERAJ REDDY KONDAKINDI(Developer)</li>
                            <li>MANIDEEP(Support Team,WRITER)</li>
                            <li>AVINASH(WRITER)</li>
                            <li>RAHUL(PHOTO EDITOR & WRITER)</li>
                            <li>NIKITHA(Writer)</li>
                        </ul>
                    </div>
                </div>



                <!-- screenshots starts -->
                <div class="screenshots">
                    <div class="screen">
                        <a href="assets/img/screenshots/12.png" class="screen-popup"><img src="{% static './dhe.jpeg' %}" alt=""></a>
                    </div>
                    <div class="screen">
                        <a href="assets/img/screenshots/12.png" class="screen-popup"><img src="{% static './mani.jpeg' %}" alt=""></a>
                    </div>
                    <div class="screen">
                        <a href="assets/img/screenshots/12.png" class="screen-popup"><img src="{% static 'assets/img/screenshots/12.png' %}" alt=""></a>
                    </div>
                    <div class="screen">
                        <a href="assets/img/screenshots/12.png" class="screen-popup"><img src="{% static './rahul.jpg' %}" alt=""></a>
                    </div>
                    <div class="screen">
                        <a href="assets/img/screenshots/12.png" class="screen-popup"><img src="{% static './nikitha.jpeg' %}" alt=""></a>
                    </div>
                </div>
                <!-- screenshots ends -->

            </div>
        </div>
    </section>
    <!-- Contact form area ends -->


    <!-- Footer area starts -->
    <footer>

        <div class="footer-widget-area section-big">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget -->
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3>EXPRESIO</h3>
                            <p>Thankyou for your support,contributions and all other kinds of participation in this amazing new beginning of Expresio!</p>
                            <p>BY DHEERAJ REDDY KONDAKINDI</p>
                        </div>
                    </div>

                    <!-- Footer Widget -->
                    <!-- Footer Widget -->
                    <!-- Footer Widget -->
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3>About EXPRESIO</h3>
                            <div class="address">
                                <div class="address-box clearfix">
                                    <span class="lnr lnr-home"></span>
                                    <p>HYDERABAD TELANGANA INDIA</p>
                                </div>
                                <div class="address-box clearfix">
                                    <span class="lnr lnr-phone"></span>
                                    <p><a href="tel:9381132562">9381132562</a>
                                    <br>
                                    <a href="tel:015110022"></a></p>
                                </div>
                                <div class="address-box clearfix">
                                    <span class="lnr lnr-envelope"></span>
                                    <p><a href="mailto:noreply.blogzz@gmail.com">noreply.blogzz@gmail.com</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="clearfix"></div>

        <!-- Footer Bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright &copy; 2020. All rights reserved to <a href="/">EXPRESIO</a></p>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <!-- Footer area ends -->



    <!-- Latest jQuery -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- Plugin js -->
    <script src="{% static 'assets/js/plugin.js' %}"></script>

    <!-- GOOGLE MAP JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>

    <!-- Main js-->
    <script src="{% static 'assets/js/main_script.js' %}"></script>


</body>

</html>