{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"    content="EXPRESIO TO WRITE AND READ">
    <meta name="keywords"       content="BLOGS POSTS LIKES COMMENTS SHARES">
    <title>PASSWORD RESET</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href=" {% static 'assets/img/favicon.jpeg' %} ">

</head>
<body>
    <section>
        <div class="container">
            <div class="user signinbox">
                <div class="imagebox"><img src="{% static 'css/images/Signup2.jpeg' %}" alt=""></div>
                <div class="formbox">
                    <form  method="POST">
                    <p style="color: red;" class="signup"> *For Social Login Account Password Cannot Reset Unless You Add Your Email </p>

                        {% csrf_token %}
                        {{form}} 
                        <input type="Submit" name="Send email">                 
                        <p class="signup">login and enjoy reading <a href="/login">LOGIN</a></p>
                    </form>
                   
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>