{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VERIFICATION</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href=" {% static 'assets/img/favicon.jpeg' %} ">

</head>
<body>
    <section>
        <div class="container">
            <div class="user signinbox">
                <div class="imagebox"><img src="{% static 'css/images/Signup2.jpeg' %}" alt=""></div>
                <div class="formbox">
                    <form autocomplete="off" action="verification" method="POST">
                        {% csrf_token %}
                        <h2>EMAIL VERIFICATION</h2>
                        <input type="text" autocomplete="false" placeholder="Otp sent To your Email" name="otp" required>
                        <input type="password" autocomplete="false" placeholder="Password" name="password" required>
                        <button type="submit">Verify Your Accout</button>
                        <p class="signup">login and enjoy reading <a href="login">LOGIN</a></p>
                        {% for message in messages%}
                        <span class="message">{{message}} + </span>
                        {% endfor %}
                    
                    </form>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>